cloudpickle==3.0.0
IPython
gdown
loguru
gym==0.25.2
gymnasium==1.0.0
matplotlib
numpy==2.1.1
openai==1.61.1
opencv-python==4.11.0.86
pytest
pandas==2.2.2
pygame==2.6.1
pymunk==6.2.1
PyOpenGL==3.1.9
pyspark==3.5.4
sb3_contrib==2.3.0
scikit-image==0.25.1
scikit-learn==1.6.1
scikit-video==1.1.11
scipy==1.13.1
stable_baselines3==2.5.0
sympy==1.5.1
torch==2.4.1
tqdm==4.67.1
transformers==4.48.2
supabase
tt-smi @ git+https://github.com/tenstorrent/tt-smi.git@2f4d5e8086ec7169a34041261067b68e2b439c52
tt-tools-common==1.4.31
-e git+https://github.com/tenstorrent/tt-metal.git@5143b856ebeecd8562933b8c744b78f313203efe#egg=ttnn
